
body,html,#map-canvas {
  margin: 0;
}

#map-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

#nav2{
  display:none;
}
.search-yelp {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 27em;
  background-color: rgba(255,255,255,0.85);
}

.yelp-list ul{
  position: fixed;
 top: 0;
  left: 0;
  max-width: 27em;
  background-color: rgba(255,255,255,0.85);


}

@media (max-width: 500px) {

  #nav2{
  display: initial;
}

  #nav{
    display: none;
  }
  
.yelp-list ul {

 height: 60%;
    position: absolute;
    margin-left: auto; 
    margin-right: auto;
        top: 65%;
    width: initial;
    height: 100px;
     overflow-y: auto;
    text-align: center;
  
  }
.search-yelp{width:100%}
.yelp-list ul li h4{font-size:18px}
.yelp-list ul li p{font-size:14px}
.yelp-list ul li img{display: none}

}





.yelp-list ul {
  padding: 0;
  height: 100%;
  width: 320px;
  overflow-y: auto;
  z-index: 9;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-family:"Pacifico", sans-serif;
  margin-top: 4.35em;
  margin-right: 0;
  background-color: #FFA500;

}

.yelp-list ul li {
  list-style: none;
  margin: 0;
  border-top: 1px solid darkgray;
}

.yelp-list ul li:first-child {
  border-top: 0;
}
.yelp-list ul li:hover {
  background-color: lightblue;
}

.yelp-list ul li.active {
  background-color: lightcyan;
}

.navbar {
    background-color: #FFA500;
    padding: 1px 0px 1px 0px;
    margin:0px 0px 0px 0px;
    border:0px;
    border-radius: 0px;
     font-family:"Pacifico", sans-serif;
    
}
.search-yelp {
  padding: 1em;
  z-index: 10;
}
.search-yelp small {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #ff4e00;
  cursor: pointer;
}
.search-yelp small:hover {
  text-decoration:underline;
}

.img-container img {
  max-width:100%;
  height: auto;
  display: block;
  margin-top: 1em;
  margin-left: auto;
    margin-right: auto;
}

.info_content {
  max-width: 18em;
  color: midnightblue;
}

.info_content .review {
  position: relative;
  padding-top: 1em;
  border-top: 2px dashed #191970;
}
.info_content .review img {
  float: right;
  display: inline-block;
  max-width: 50px;
  margin-left: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.info_content .review:after {
  content:"Yelp Review";
  display: inline-block;
  font-size: 1em;
  float: right;
}
